*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 21px;
    padding: 200px;
    margin: 41px;
    
}